INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
configure
config.status
.deps/
.dirstamp
stamp-h1
*.o
asciisfx
m4/*
*.lo
libtool
*.la
*~
.libs/
tests/test
tests/test.log
tests/test.trs
test-suite.log
