INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
configure
config.status
src/.deps/
src/.dirstamp
stamp-h1
*.o
asciisfx
m4
*.lo
libtool
*.la
*~
.libs/
